<% if @item.images.present? %>

  <% @item.images.each do |image| %>
    <div data-thumb=<%= image.image.thumb("#{thumb}").url %>>
      <%= image_tag(image.image.thumb("#{thumb}").url) %>
    </div>
  <% end %>

<% else %>

  <div data-thumb="http://placehold.it/540x400">
    <%= image_tag("http://placehold.it/540x400") %>
  </div>

<% end %>