.custom-panel {
  height: 485px;
  width: 100%;
  padding: 0;
}

.items {
  background: #49494A;
  padding-top: 20px;
  div {
    text-align: center;
    font-size: 30px;
  }
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

// Footer
.footer {
  background-color: #323A45;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: #fff;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color(#fff, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
// end Footer

.reasons {
  background: #2980b9;
  p {
    color: white;
  }
  .fa {
    color: white;
    padding-bottom: 2rem;
  }
  i {
    font-size: 100px;
  }
}

.reason-title {
  margin-bottom: 4rem;
}

.featured {
  color: #49494A;
}

#map {
  display: block;
  width: 100%;
  height: 485px;
}

#wrapper {
  position: relative;
}

#over_map {
  background: #2980b9;
  position: absolute;
  right: 100px;
  top: 10px;
  z-index: 99;
}

// Login Form
.signup-panel{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
  i {
    font-size: 30px;
    line-height: 30px;
    color: #999;
  }
  form {
    input, span {
      height: 50px;
    }
  }
  .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  label {
    color: black;
  }
  p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
  }
  .button {
    margin-left: 35%;
  }
}
// end Login Form

.tabs dd > a, .tabs .tab-title > a{
  outline: none;
}

form label {
  color: black;
}

.alert-box {
  margin-top: 2em;
  padding-bottom: 0;
}